@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
}

.container {
  max-width: 85%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-grid {
  display: grid;
  /* place-items: center; */
}

/* Nav */

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 1em 0;
  z-index: 99;
}

nav .row {
  justify-content: flex-start;
}

nav a {
  color: black;
  gap: .5em;
}

/* End Nav */

/* hero */

#hero {
  height: 400px;
  background: url(../assets/rooms/bougenville/BOUGENVILLE\ 1.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

#hero .row {
  background: rgba(0,0,0,.4);
  color: white;
  position: relative;
  overflow: hidden;
}

#hero figcaption {
  position: fixed;
  left: 50%;
  /* border: 1px solid black; */
  transform: translate(-50%, -50%);
}

/* End Hero */

/* Rooms */

#rooms .row {
  padding: 1em 0;
}

#rooms .filter-btn {
  gap: 1em;
  position: sticky;
  top: 3em;
  padding: 1em 0;
  background-color: white;
  z-index: 99;
  justify-content: flex-start;
  overflow-x: scroll;
}

#rooms .filter-btn::-webkit-scrollbar {
  display: none;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

#rooms .filter-btn button {
  border: none;
  padding: 1em 2em;
}

#rooms .card {
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 1em;
  margin: 2em 0;
  border: 1px solid rgb(177, 177, 177);
  border-radius: .5em;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

#rooms .card::after {
  font-size: .8rem;
  padding: .5em;
  border-radius: 0 .5em 0 .5em;
  position: absolute;
  right: 0;
  width: auto;
  height: auto;
  background-color: red;
  color: white;
}

#rooms .card.standard::after {
  content: ' ⭐ Recommended ';
  background-color: lightcoral;
  color: white;
}

#rooms .card.most::after {
  content: ' 👁️‍🗨️ Most order rooms ';
  background-color: lightgreen;
  color: green;
}

#rooms .card.cottage::after {
  content: ' 🫂 Family Rooms ';
  background-color: lightblue;
  color: navy;
}

#rooms .card .col {
  width: 100%;
  /* border: 1px solid black; */
}

#rooms .img-preview {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: .5em;
  background-color: aqua;
}

#rooms .img-preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#rooms .description {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

#rooms .facilities .type {
  margin-bottom: 1em;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

#rooms .facilities .type p {
  font-size: .8rem;
}

#rooms .facilities ul {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5em;
  margin: .5em 0;
}

#rooms .facilities ul li {
  justify-content: flex-start;
  gap: .5em;
  padding: .3em;
  border-radius: .5em;
  border: 1px solid rgb(177, 177, 177);
  font-size: .7rem;
}

#rooms .facilities ul li span {
  color: rgb(209, 19, 136);
}

#rooms .price {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

#rooms .price .price-detail::after {
  content: ' / night (nett)';
  font-size: .8rem;
  font-weight: 500;
  color: rgb(209, 19, 136);
}

#rooms .price button {
  border: none;
  border-radius: .5em;
  background-color: rgb(209, 19, 136);
  color: ivory;
  padding: 1em;
  font-weight: 500;
}

/* End Rooms */



/* Responsive */
/* Tablet View */

@media screen and (max-width: 800px) {
  body {
    font-size: 90%;
  }

  /* rooms */
  
  #rooms .price {
    margin-top: 2em;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 80%;
  }
}